.gameplay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: env(safe-area-inset-bottom); /* Add padding to accommodate the home indicator */

}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 75vh;
}

.board {
    flex: 1;
    position: relative;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.word-container {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.draggable-word, .placed-word, .dragging-word {
    padding: 5px;
    margin: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    user-select: none;
}

/* Remove blue bounding box when an item is selected */
.draggable-word:focus, .placed-word:focus, .dragging-word:focus {
    outline: none;
}

.submit-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    max-width: calc(100vw - 20px);
}

.confirmation {
    text-align: center;
}

.confirm-button, .cancel-button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
